*.aux 
*.bit 
*.blg 
*.bbl 
*.lof 
*.log 
*.lot 
*.glo 
*.glx 
*.gxg 
*.gxs 
*.idx 
*.ilg 
*.ind 
*.out 
*.url 
*.svn 
*.toc 
*.gz
main.pdf
main_word.docx
main_word13_mar_2023.docx
main_word16_mar_2023.docx
main_word_MA.docx
main_word_part7.docx
main_word_XT_20032023.docx